[**@cqrs-toolkit/client**](../README.md)

---

[@cqrs-toolkit/client](../globals.md) / ValidationResult

# Type Alias: ValidationResult

> **ValidationResult** = `Result`\<`void`, `ValidationException`\<[`ValidationError`](../interfaces/ValidationError.md)[]\>\>

Defined in: [packages/client/src/types/validation.ts:32](https://github.com/Swifttt-Dev/cqrs-toolkit/blob/master/packages/client/src/types/validation.ts#L32)

Validation result type - either success or failure with validation errors.
