[**@cqrs-toolkit/client**](../README.md)

---

[@cqrs-toolkit/client](../globals.md) / ValidationResult

# Type Alias: ValidationResult

> **ValidationResult** = `Result`\<`void`, [`ValidationException`](../classes/ValidationException.md)\>

Validation result type - either success or failure with validation errors.
